* {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 100px; 
}

.container-r {
  text-align: center;
  margin: 1em auto;
  float: right;
}

.container-l {
  text-align: center;
  float: left;
}

.intro {
  margin-top: 2rem;
}

.intro-logo {
  max-width: 5%
  padding-inline: 5px;
}

.intro-name {
  color: #2980B9;
  text-decoration: underline;
  display: inline;
}

.headshot {
  border-radius: 100px;
  max-width: 40%;
}
