* {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(64,64,64);
  background: linear-gradient(rgba(64,64,64,1) 0%, rgba(40,40,40,1) 30%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121212;
  color: #b3b3b3;
}

.footer-text-left {
  font-size: 25px;
  padding-left: 40px;
  float: left;
  word-spacing: 20px;
}

.a.menu {
  text-decoration: none;
}

a.menu:hover {
  opacity: 0.7;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 0%;
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

body {
  margin: 15%;
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.container-r {
  text-align: center;
  margin: 1em auto;
  margin-left: 0px;
  margin-right: auto;
}

.container-l {
  text-align: center;
  max-width: 55%;
  margin: 1em auto;
  margin-left: auto; 
  margin-right: 7%;
}

.intro {
  margin-top: 5%;
}

.intro-logo {
  max-width: 5%;
  padding-inline: 6px;
}

.intro-name {
  color: #2E86C1;
  text-decoration: underline;
  text-underline-offset: 6px;
  display: inline;
  font-weight: 300;
}

.headshot {
  border-radius: 300px;
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.social-container {
  display: grid;
  grid-template-columns: repeat(5, 3.125em);
}

.social {
  margin: .125em;
  width: 45px;
  height: 45px;
  font-size: 1.5em;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition-duration: 0.4s;
}

.social a:link {
  text-decoration: none;
}

.social a:hover {
  opacity: 0.7;
}
