---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { getCollection } from "astro:content";
import SideBarFooter from "../components/SideBarFooter.astro";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-3 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Luke Pieczynski</div>
    <div class="py-2 mt-4">
      <blockquote class="pl-4 text-lg text-gray-700">
        My name is Luke Pieczynski. I'm a senior at Penn State University from Pittsburgh, PA. 
        I'm studying to get my Masters of Accounting, as well as my Bachelor's of Science in Accounting and in Management Informaion Systems.
      </blockquote>
    </div>
    <div class="mt-8">
      <SideBarFooter />
    </div>
  </div>

<hr class="mt-5 mb-5">

  <div class="mb-1">
    <div class="text-3xl mb-1 w-full font-bold">Education</div>
  </div>

<h1 class="psu-color text-2xl font-semibold">🎓 Penn State University</h1>
<div class="text-gray-600 text-lg font-lighter list-none pl-1">University Park, PA</div>
  <ul class="list-disc ml-6 mt-2 space-y-2">
    <li class="pl-1">
      <div class="font-semibold text-lg">Master of Accounting</div>
      <div class="text-gray-600 text-sm list-none pl-1">Aug 2022 – Present</div>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Accounting, B.S.</div>
      <div class="text-gray-600 text-sm list-none pl-1">Aug 2022 – Present</div>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Management Information Systems, B.S.</div>
      <div class="text-gray-600 text-sm list-none pl-1">Aug 2022 – Present</div>
    </li>
  </ul>
</div>

<hr class="mt-5 mb-5">

<div class="mb-1">
    <div class="text-3xl w-full font-bold">Experience</div>
</div>

<h1 class="thon-color text-2xl font-semibold">🎗️ Penn State THON™</h1>
<div class="text-gray-600 text-lg font-lighter list-none pl-1">State College, PA</div>
  <ul class="list-disc ml-6 mt-2 space-y-2">
    <li class="pl-1">
      <div class="font-semibold text-lg">Communications Captain, Committee Logistics Coordinator</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">THON 2026</div>
      <blockquote class="pl-1 text-gray-700">
        Coordinate sleep shift timeline and procedures for ~300 captains across 18 committees for THON Weekend. 
        Develop key timelines for captains and CWCs, working cross-committees to handle individual requests and issues. 
        Oversee committee sleep shift officers by creating training materials to help deliver success in their leadership roles. 
        Lead training events and create materials for captains and committee members for THON Weekend responsibilities.
      </blockquote>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Supply Logistics Captain, Gift Card Initiative</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">THON 2025</div>
      <blockquote class="pl-1 text-gray-700">
        Sourced in-kind donations nationwide to help ensure 96¢ of every dollar benefits families fighting childhood cancer.
        Maintained the Gift Card Initiative, including budgeting gift card inventory, and crediting gift card donations.
        Acquired all last-minute supplies and hard-to-get items using donated gift card inventory by making supply runs.
        Led a committee of 30 student volunteers, fostering their development as college students and THON Volunteers.
      </blockquote>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Rules & Regulations, Pass Leader</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">THON 2024</div>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Rules & Regulations, Security Leader</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">THON 2023</div>
    </li>
  </ul>
</div>

<h1 class="homecoming-color text-2xl font-semibold mt-5">🦁 Penn State Homecoming</h1>
<div class="text-gray-600 text-lg font-lighter list-none pl-1">State College, PA</div>
  <ul class="list-disc ml-6 mt-2 space-y-2">
    <li class="pl-1">
      <div class="font-semibold text-lg">Financial Management Captain, Fiscal Tracking</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">Homecoming 2025</div>
      <blockquote class="pl-1 text-gray-700">
        Maintain accurate record of Homecoming’s expenditures and work with director to create the yearly budget.
        Reconcile all transactions relating to Homecoming Merchandise sales and perform profit analysis functions in Excel.
        Create profit and expenditure reports in Excel for presentation to staff Advisor and Executive Committee.
        Lead focus groups to educate inter-committee liaisons on appropriate financial recording methods and tracking.
      </blockquote>
    </li>
    <li class="pl-1">
      <div class="font-semibold text-lg">Financial Management Captain, Purchasing</div>
      <div class="text-gray-600 text-sm list-none pl-1 mb-1">Homecoming 2024</div>
      <blockquote class="pl-1 text-gray-700">
        Managed purchase requests from Homecoming’s 11 committees and provided accurate follow-up with requestors.
        Served as a liaison between HUB staff and the Homecoming to ensure accurate receipt of any purchased items.
        Assured proper record and receipt of tax-exempt status, file appropriate invoices with university leadership.
      </blockquote>
    </li>
  </ul>
</div>

<h1 class="sheetz-color text-2xl font-semibold mt-5">⛽️ Sheetz, Inc.</h1>
<div class="text-gray-600 text-lg font-lighter list-none pl-1">Sewickley, PA</div>
  <div class="font-semibold text-lg">Store Team Member</div>
    <div class="text-gray-600 text-sm list-none pl-1 mb-1">September 2020 - July 2025</div>
      <blockquote class="pl-1 text-gray-700">
        Prepared gourmet made-to-order food items and specialty beverages in a fast-paced kitchen environment.
        Facilitated customer service interactions and maintain retail sales floor, ensuring in-stocks and adequate zoning.
        Coached new team members on hospitality expectations, relevant food safety practices, and corporate policies.
        Ensured high cleanliness and food safety standards for twice quarterly, graded quality assurance inspections.
      </blockquote>
    </div>
  </div>
</div>